@model List<Dal.Models.Company>

<h2>Companies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.CompanyId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.CompanyName">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
