@model List<Dal.Models.JobStatus>

<h1>Job Statuses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().JobStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StatusMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobStatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusMessage)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.JobStatusId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.JobStatusId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.JobStatusId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    </
